html{
  Layout:1440px;
}
body{
  background-color: hsl(212, 45%, 89%);


}
.container{
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Outfit', sans-serif;
  position: relative;
  top: 10px;
  left: 450px;
  height:550px;
  width: 350px;
}
.image{
  border-radius: 5px;
  height: 350px;
  width: 315px;
  position: relative;
  top: 15px;
  left: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desc{
  text-align: center;
  position: relative;
  top: 20px;
  margin: 0px 60px 0 60px;
  font-size: 20px;
  color: hsl(218, 44%, 22%);
}
.desc1{
  color: hsl(220, 15%, 55%);
  position: relative;
  font-size: 13px;
  margin: 0px 10px 0px 10px;

}
.attribution{
  text-align: center;
  margin-top: 20px;
  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }

}
